body 
{
margin: 0;
padding: 0;
background-color: lightgray;
}
div 
{
width: 22%;
height: auto;
margin: auto;
padding: 10px;
}
div img
{
width: 60%;
height: 150px;
height: auto;
margin-left: 20%;
}
div h1 
{
margin-top: -15%;    
}
input,textarea,select
{
width: 100%;
height: auto;
margin: auto;
margin-left:0%;
padding: 10px;
border: 0;
}
input[type="submit"]
{
width: 26%;
height: auto;
padding: 12px;
border: 0;
background-color: blue;
color: white;  
}

input[type="reset"]
{
width: 26%;
height: auto;   
margin-left: 0;
padding: 12px;
border: 0;
background-color: blue;
color: white;  
}