body 
{
    margin: 0;
    padding: 0;
    background-color: black;
}
div 
{
    width: 50%;
    height: auto;
    margin: auto;
    padding: 25px;
    color: white;
}
div h1 
{
    color: blue;
    font-size: 45px;
    font-family: cursive;
}