body 
{
margin: 0;
padding: 0;
overflow-x: hidden;
box-sizing: border-box;
background-color: #dfe2e8 !important;
}
.container
{
width: 100%;
height: 100vh;
display: flex;
flex-wrap: wrap;
/* justify-content: center;
align-items: center; */
/* background: linear-gradient(45deg, #ff0000, #0000ff); */
background-color: white;
}
.aside
{
width: 20%;
height: 100vh;
background-color: #0f43a3;
}
.aside ul li 
{
list-style: none;
padding: 20px;
display: block;
color: white;
}
.aside a
{
text-decoration: none;
color: white;
font-size: 18px;
}
.aside hr
{
border: 1px solid white;
line-height: 1.8;
}

.main
{width: 80%;
height: 100vh;
justify-content: center;
align-items: center;
background-color: #dfe2e8;
}
.header
{
width: 100%;
height: 10vh;
background-color: white;
top: 0 !important;
padding: 15px;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.content
{
width: 100%;
height: auto;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
background-color: #dfe2e8;
}
.box
{width: 25%;
height: auto;
margin: 15px;
margin-top: 5%;
background-color: white;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
text-align: left;
padding: 20px;
border-radius: 10px;
border-left: solid 5px #0f43a3;
}
.box h2 
{
margin: 0;
padding: 0;
color: #0f43a3;
text-align: left;
}

#student-manage
{width: 92%;
border-collapse: collapse;
border: 0.5px solid #ddd;
}
#student-manage th
{
border: 1px solid #ddd;
padding: 8px;
text-align: center;
background-color: white;
}
#student-manage td
{
border: 1px solid #ddd;
padding: 8px;
text-align: center;
}