body 
{
margin: 0;
padding: 0;    
overflow-x: hidden;
box-sizing: border-box;
width: 100%;
height: 640px;
/* background: -o-linear-gradient(from left,red,black);
background: -IE-linear-gradient(from left,red,black);
background: -moz-linear-gradient(from left,red,black);
background: -webkit-linear-gradient(from left,red,black);
background: linear-gradient(to right,red,black); */

/* background: -o-linear-gradient(from top,red,black);
background: -IE-linear-gradient(from top,red,black);
background: -moz-linear-gradient(from top,red,black);
background: -webkit-linear-gradient(from top,red,black);
background: linear-gradient(to bottom,red,black); */

/* 
background: -o-linear-gradient(from top,red 50%,black 50%);
background: -IE-linear-gradient(from top,red 50%,black 50%);
background: -moz-linear-gradient(from top,red 50%,black 50%);
background: -webkit-linear-gradient(from top,red 50%,black 50%);
background: linear-gradient(to bottom,red 50%,black 50%); */

/* 
background: -o-linear-gradient(red 50%,black 50%);
background: -IE-linear-gradient(red 50%,black 50%);
background: -moz-linear-gradient(red 50%,black 50%);
background: -webkit-linear-gradient(red 50%,black 50%);
background: linear-gradient(red 50%,black 50%); */


/* 
background: -o-linear-gradient(from left,red 50%,black 50%);
background: -IE-linear-gradient(from left,red 50%,black 50%);
background: -moz-linear-gradient(from left,red 50%,black 50%);
background: -webkit-linear-gradient(from left,red 50%,black 50%);
background: linear-gradient(to right,red 50%,black 50%); */

background: -o-linear-gradient(from left, black, white);
background: -IE-linear-gradient(from left,black, white);
background: -moz-linear-gradient(from left,black, white);
background: -webkit-linear-gradient(from left,black, white);
background: linear-gradient(to right,black, white);



/* background: -o-radial-gradient(red,black, yellow, coral);
background: -IE-radial-gradient(red,black, yellow, coral);
background: -moz-radial-gradient(red,black, yellow, coral);
background: -webkit-radial-gradient(red,black, yellow, coral);
background: radial-gradient(red,black, yellow, coral); */

}
.app 
{
width: 60%;
height: auto;
margin: auto;
margin-top: 5%;
display: flex;
flex-wrap: wrap;
}
.box1 
{
width: 50%;
height: 300px;
background: -o-linear-gradient(from left, yellow, coral);
background: -IE-linear-gradient(from left,yellow, coral);
background: -moz-linear-gradient(from left,yellow, coral);
background: -webkit-linear-gradient(from left,yellow, coral);
background: linear-gradient(to right,yellow, coral);
}
.box1:hover 
{
width: 50%;
height: 300px;
background: aqua !important;
}
.box2
{
width: 50%;
height: 300px;
background: -o-linear-gradient(from left,coral,yellow);
background: -IE-linear-gradient(from left,red,coral,yellow);
background: -moz-linear-gradient(from left,red,coral,yellow);
background: -webkit-linear-gradient(from left,red,coral,yellow);
background: linear-gradient(to right,red,coral,yellow);
}
.box2:hover 
{
width: 50%;
height: 300px;
background:blue !important;
}

.parent
{
width: 50%;
height: auto;
margin: auto;
margin-top: 5%;
}
.child 
{
width: 200px;
height: 200px;
background: -o-linear-gradient(from left,coral,yellow);
background: -IE-linear-gradient(from left,red,coral,yellow);
background: -moz-linear-gradient(from left,red,coral,yellow);
background: -webkit-linear-gradient(from left,red,coral,yellow);
background: linear-gradient(to right,red,coral,yellow);
margin-top: 5%;
margin-left: 35%;
}
/* .child:hover 
{
border-radius: 50%;
transition: 4s ease all;    
background: black;    
}
 */


.child:hover 
{
border-radius: 50%;
transition: 4s ease all;    
background: rgba(0,0,0,1);    
}

.slider 
{
width: 100%;
margin: 0;
padding: 0;
height: 450px;
background:linear-gradient(rgba(0, 0, 0, 0.9),rgba(121, 4, 4, 0.7)),url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr8SwC0objxRk76ioxZFQ5wBaZUgk_XGgS6Q&s') no-repeat;
background-position: center;
background-size: cover;
position: absolute;
}
.slider-txt 
{
width: 60%;
height: auto;
margin: auto;
margin-top: 10%;
text-align: center;   
color: white; 
}